<template>
  <div class = "main">
    <div v-if="hiddenReg">
      <div class="login-container">
        <input type="text" v-model="username" placeholder="Username" required/>
        <br/>
        <input type="password" v-model="password" placeholder="Password" required/>
        <br/>
        <button v-on:click="loginData">Log in</button>
        <br/>
      </div>
      <div class="a-anim">
        <p>Don't have an account? <a v-on:click="hiddenReg = false;">&nbsp;Sign up</a></p>
      </div>
    </div>
    <div v-if="!hiddenReg">
      <div class="login">
        <input type="text" v-model="username" placeholder="Username" required/>
        <br/>
        <input type="password" v-model="password" placeholder="Password" required/>
        <br/>
        <input type="password" v-model="confirmPassword" placeholder="Confirm password" required/>
        <br/>
        <button v-on:click="register">Register</button>
        <br/>
      </div>
      <div class="a-anim">
        <p>I already have account. <a v-on:click="hiddenReg = true;">&nbsp;Log in</a></p>
      </div>
    </div>

  </div>

</template>

<script>
import gql from "graphql-tag"
import {onLogin} from "../vue-apollo";
const userData = gql`query login($username:String!,$password:String!) {
  login(username: $username, password: $password)
}`
const newUser = gql`query registration($username:String!,$password:String!) {
  register(username: $username, password: $password) {
    id
    username
    timestamp
  }
}`
const checkUser = gql`query checkUsername($username:String!) {
  user: usernameExists(username: $username)
}`
export default {
  data()
  {
    return {
      username:"",
      password:"",
      confirmPassword:"",
      hiddenReg: true,
    };
  },
  name: "Autofication",
  methods: {
    async loginData() {
      const token = await this.getToken()
      onLogin(this.$apollo.provider.defaultClient, token);
      await this.$router.push('/chats')
    },
    async getToken() {
      const token = await this.$apollo.query({
        query: userData,
        variables: {
          username: this.username,
          password: this.password
        },
      })
      return token.data.login
    },
    async checkUser() {
      const user = await this.$apollo.query({
        query: checkUser,
        variables: {
          username: this.username
        },
      })
      return user.data.user
    },
    async register() {
      if (this.confirmPassword.length === 0 || this.password.length === 0 || this.password !== this.confirmPassword) {
        this.errorMes = "Incorrect password input"
        console.log("Incorrect password input.")
        return
      }
      if (await this.checkUser()) {
        console.log("User with such username already exists.")
        return
      }
      await this.$apollo.query({
        query: newUser,
        variables: {
          username: this.username,
          password: this.password,
        },
      })
      const token = await this.getToken()
      onLogin(this.$apollo.provider.defaultClient, token);
      await this.$router.push('/chats')
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container button, .login button{
  margin: auto;
  display: block;
  height: 30px;
  width: 80px;
  border-radius: 7px;
  background-color: #abdbbe;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.login-container input, .login input{
  margin: auto;
  display: block;
  padding-left: 10px;
  width: 200px;
  height: 30px;
  border: 2px solid seagreen;
  border-radius: 7px;
}
.a-anim a{
  color: seagreen;
}
.a-anim a:hover{
  cursor: pointer;
  text-shadow: grey 1px 0 10px;
}
</style>
