<template>
  <div class="supermain">
    <div class="main">
      <div v-if="!messagesShown" class="somebut">
        <div id="create">
          <button class="button-new-chat" v-on:click="openWindow">
            Create New
          </button>
        </div>
        <div id="log">
          <button class="button-new-chat" v-on:click="logOut">
            Log out
          </button>
        </div>
      </div>
      <div class="chatsContainer" v-if="!messagesShown">
        <div class="chats">
          <div class="chat" v-for="room in rooms" :key="room.id">
            <button :id="room.id" v-on:click="enterChat" :class="{ 'button-owner-chat' : room.owner.id === me.id }">
              {{ room.name }}
            </button>
          </div>
        </div>
        <div class="noMessages">
          No messages here yet...
        </div>
      </div>
      <div v-if="messagesShown" class="roomname">
        {{ chat.name }}
      </div>
      <div class="messagesContainer" v-if="messagesShown">
        <div class="first">
          <div class="messages">
            <div class="onemess" v-for="message in this.chat.lastMessages" :key="message.id">
              <div class="message" :class="{ 'div-owner-message' : message.author.id === me.id }">
                <div class="div-message-author">
                  {{ message.author.username }}
                </div>
                <div class="div-message-text">
                  {{ message.text }}
                </div>
                <div class="div-time">
                  {{ message.timestamp.slice(11).split("").reverse().join("").slice(5).split("").reverse().join("") }}
                </div>
              </div>
            </div>
          </div>
          <div class="div-enter-message">
            <input v-model="newMessage" placeholder="Enter your message"/>
            <button v-on:click="createNewMessage">Send</button>
          </div>
        </div>
        <div class="second">
          <div class="allmembers">
            <div v-for="member in this.members" :key="member.id">
              {{ member.username }}
              <span class="span-me" v-if="member.id === me.id">(me)</span>
            </div>
          </div>
        </div>
        <div class="third">
          <div>
            <button v-on:click="leaveChat">
              Leave
            </button>
          </div>
          <div class="div-button-delete-container">
            <button class="button-delete-chat" v-on:click="deleteChat" v-if="isChatOwner">Delete chat</button>
          </div>
          <div class="div-button-update-container">
            <button class="button-update-chat" v-on:click="updateChat" v-if="isChatOwner">Update chat</button>
          </div>

        </div>
      </div>
    </div>
    <div class="div-modal-new" v-if="!modalIsHidden">
      <div class="div-centered-window">
        <button class="button-cross" v-on:click="closeModal">x</button>
        <p>Enter new chat name:</p>
        <div>
          <input type="text" placeholder="New chat name:" v-model="roomName" required minlength="1"/>
          <button class="button-create-new-room" v-on:click="createNewChat">Apply</button>
        </div>
      </div>
    </div>
    <div class="div-modal-new" v-if="!modalIsHidden2">
      <div class="div-centered-window">
        <button class="button-cross" v-on:click="closeModal">x</button>
        <p>Enter new chat name:</p>
        <div>
          <input type="text" placeholder="New chat name:" v-model="roomName2" required minlength="1"/>
          <button class="button-create-new-room" v-on:click="updateExistingChat">Update</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";
import {onLogout} from "@/vue-apollo";

const allRooms = gql`query rooms {
  rooms {
    id
    name
    timestamp
    owner {
      id
      username
    }
    lastMessages {
      text
      timestamp
      author {
        id
        username
      }
    }
    members {
      id
      username
    }
  }
}`
const userInfo = gql`  query me {
    me {
      id
      username
      timestamp
      rooms{
        id
        name
      }
      currentRoom {
        id
        name
        owner {
          id
          username
        }
        members{
            id
            username
          }
        lastMessages{
          id
          timestamp

          author{
            id
            username
          }
          text
        }
      }
    }
}`
const joinRoom = gql`mutation join($id:ID!) {
  joinRoom(roomId: $id) {
    id
    name
    timestamp
    lastMessages {
      text
      timestamp
      author {
        id
        username
      }
    }
    owner {
      id
      username
    }
    members {
      id
      username
    }
  }
}`
const leaveRoom = gql`mutation leave {
    leaveCurrentRoom {
      id
      name
    }
  }`
const createdMessage = gql`mutation join($text:String!) {
  createMessage(text: $text) {
    id
    timestamp
    author {
      id
      username
    }
    text
  }
}`
const newRoomCreation = gql`mutation createRoom($roomName:String!) {
  createRoom(name: $roomName) {
    id
    name
    timestamp
    owner {
      id
      username
    }
  }
}`
const roomChange = gql`mutation updateRoom($name:String!,$id:ID!) {
  updateRoom(id: $id, name: $name) {
    id
    name
    timestamp
    owner {
      id
      username
    }
  }
}`
const roomDeletion = gql`mutation deleteRoom($id:ID!) {
  deleteRoom(id: $id) {
    id
    name
    timestamp
    owner {
      id
      username
    }
  }
}`
const createdMessageSub = gql`subscription messageCreated {
  messageCreated {
    id
    timestamp
    author {
      id
      username
    }
    text
  }
}`

const createdRoomSub = gql`subscription roomCreated {
  roomCreated {
    id
    name
    timestamp
    owner {
      id
      username
    }
  }
}`

const updatedRoomSub = gql`subscription roomUpdated {
  roomUpdated {
    id
    name
    timestamp
    owner {
      id
      username
    }
    lastMessages {
      text
    }
    members {
      id
      username
    }
  }
}`

const deletedRoomSub = gql`subscription roomDeleted {
  roomDeleted {
    id
    name
    timestamp
    owner {
      id
      username
    }
  }
}`

const joinedUser = gql`subscription memberJoined {
  memberJoined {
    id
    username
  }
}`

const leftUser = gql`subscription memberLeft {
  memberLeft {
    id
    username
  }
}`
export default {
  name: "Chatings",
  data() {
    return {
      chat: {},
      rooms: [],
      messages: [],
      members: [],
      room: {},
      me: {},
      id: '',
      newMessage: '',
      modalIsHidden: true,
      modalIsHidden2: true,
      newChat: {},
      roomName: '',
      roomName2: '',
      isChatOwner: false,
      hovered: false,
      messagesShown: false,
      // active: false
    };
  },
  async created() {
    const rooms = await this.$apollo.query({
      query: allRooms
    })
    const userCred = await this.$apollo.query({
      query: userInfo
    })
    // await this.$apollo.mutate({
    //   fetchPolicy: "no-cache",
    //   mutation: leaveRoom,
    // })
    this.me = userCred.data.me
    if (this.me.currentRoom) {
      await this.loadLastChat(this.me);
    }
    this.rooms = rooms.data.rooms
  },
  methods: {
    async joinRoom() {
      const room = await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: joinRoom,
        variables: {
          id: this.id
        },
      })
      return room.data.joinRoom
    },
    async enterChat(event) {
      this.id = event.target.id
      this.chat = await this.joinRoom();
      this.members = this.chat.members;
      this.messagesShown = true;
      this.isChatOwner = this.me.id === this.chat.owner.id;
      this.messages = this.chat.lastMessages;
      await this.scrollDown();

    },
    async leaveChat() {
      this.messagesShown = false;
      await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: leaveRoom,
      })
    },
    async createNewMessage() {
      const chatMessage = await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: createdMessage,
        variables: {
          text: this.newMessage,
        },
      })
      this.newMessage = ""
      console.log(chatMessage.data)
      return chatMessage.data
    },
    async openWindow() {
      this.modalIsHidden = false
    },
    async createNewChat() {
      this.modalIsHidden = true
      const newRoom = await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: newRoomCreation,
        variables: {
          roomName: this.roomName,
        },
      })
      console.log(newRoom.data)
      return newRoom.data
    },
    async closeModal() {
      this.modalIsHidden = true
      this.modalIsHidden2 = true
    },
    async updateChat() {
      this.modalIsHidden2 = false
    },
    async updateExistingChat() {
      this.modalIsHidden2 = true
      const updatedRoom = await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: roomChange,
        variables: {
          id: this.id,
          name: this.roomName2,
        },
      })
      console.log(updatedRoom.data)
      return updatedRoom.data
    },
    async deleteChat() {
      const deletedRoom = await this.$apollo.mutate({
        fetchPolicy: "no-cache",
        mutation: roomDeletion,
        variables: {
          id: this.id,
        },
      })
      this.mesIsHidden = true
      this.me.currentRoom = null
      this.room = null
      console.log(deletedRoom.data)
    },
    async logOut() {
      await onLogout(this.$apollo.provider.defaultClient);
      await this.$apollo.provider.defaultClient.resetStore();
      await this.$router.push('/')
    },
    async loadLastChat(me) {
      this.id = me.currentRoom.id;
      this.chat = me.currentRoom;
      this.messages = this.chat.lastMessages;
      this.members = this.chat.members;
      this.messagesShown = true;
      await this.scrollDown();
    },
    async scrollDown() {
      this.$nextTick(() => {
        const container = this.$el.querySelector(".messages");
        container.scrollTop = container.scrollHeight;
      });
    },
  },
  apollo: {
    $subscribe: {
      messageCreation: {
        query: createdMessageSub,
        result({data}) {
          console.log(data.messageCreated)
          this.messages.push(data.messageCreated)
          this.scrollDown()
        },
      },
      roomCreation: {
        query: createdRoomSub,
        result({data}) {
          this.rooms.push(data.roomCreated)
        },
      },
      roomChange: {
        query: updatedRoomSub,
        result({data}) {
          this.rooms = this.rooms.map(chat => {
            if (chat.id === data.roomUpdated.id) {
              this.chat.name = data.roomUpdated.name
            }
            return chat
          })
        },
      },
      roomDeletion: {
        query: deletedRoomSub,
        result({data}) {
          this.messagesShown = false
          let specificIndex = -1
          this.rooms.forEach((chat, roomIndex) =>
              chat.id === data.roomDeleted.id ? (specificIndex = roomIndex) : ""
          );
          this.rooms.splice(specificIndex, 1)
        },
      },
      joinedUser: {
        query: joinedUser,
        result({data}) {
          console.log(data)
          this.members.push(data.memberJoined)
        },
      },
      leftUser: {
        query: leftUser,
        result({data}) {
          console.log(data)
          let specificIndex = -1;
          this.members.forEach((member, memberIndex) =>
              member.id === data.memberLeft.id ? (specificIndex = memberIndex) : ""
          );
          this.members.splice(specificIndex, 1);
        },
      },
    },
  },
}
</script>

<style scoped>
.main {
  background-color: #abdbbe;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chats {
  width: 35vw;
  height: 100%;
  overflow-y: auto;
}

.chat button {
  width: 80%;
  height: 30px;
  border-radius: 7px;
  display: block;
  margin: 5px auto 0 auto;
  overflow-y: auto;
  padding: 2px 5px 2px 5px;
  background-color: snow;
}

.chat button:hover {
  box-shadow: 0 0 5px;
}

.noMessages {
  width: 65vw;
  margin: auto;
  text-align: center;
}

.chatsContainer, .messagesContainer {
  display: flex;
  height: 80vh;
  width: 80vw;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding-top: 15px;
}

.messages {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.div-modal-new {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

}

.div-centered-window {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 40%;
  height: 22vh;
  position: relative;
}

.button-cross {
  position: absolute;
  top: 7px;
  right: 16px;
  font-size: 28px;
  font-weight: 900;
  background-color: transparent;
  border: none;
}

.button-cross:hover {
  cursor: pointer;
}

.div-centered-window div input {
  display: block;
  margin: 5px auto;
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border-radius: 7px;
}

.div-enter-message input {
  display: block;
  /*margin: 5px;*/
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border-radius: 7px;
}

.div-enter-message button {
  margin-left: 10px;
  width: 20%;
  height: 30px;
  border-radius: 7px;
  display: block;
  padding: 2px 5px 2px 5px;
  background-color: snow;
}

.div-centered-window p {
  text-align: center;
  margin-top: 50px;
}

.first, .second, .third {
  height: 100%;
}

.first {
  width: 40%;
}

.onemess {
  width: 100%;
  height: 45px;
}

.message {
  background: rgba(44, 62, 80, 0.5);
  background: snow;
  /*box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);*/
  /*border-top: 2px solid rgba(255, 255, 255, 0.1);*/
  /*border-left: 2px solid rgba(255, 255, 255, 0.1);*/
  width: 60%;
  height: 30px;
  border-radius: 7px;
  display: block;
  overflow-y: auto;
  padding: 2px 5px 2px 5px;
  margin-left: 2%;
}

.div-owner-message {
  background: #78bf94;
  float: right;
  margin-right: 2%;
  margin-left: 0;
}

.div-message-author {
  line-height: 30px;
  margin-left: 3%;
  font-size: 17px;
  width: 20%;
  float: left;
  overflow: hidden;
}

.div-message-text {
  line-height: 30px;
  margin-left: 7%;
  width: 50%;
  text-align: left;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;

}

.div-time {
  line-height: 30px;
  font-size: 10px;
  float: right;
  margin-right: 3%;
}

.supermain {
  width: 100%;
  height: 100vh;
}

.somebut {
  position: absolute;
  width: 100%;
  top: 20px;
  /*display: flex;*/
}

#create {
  float: left;
  margin-left: 175px;
}

#log {
  float: right;
  margin-right: 190px;
}

.div-enter-message {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 15px;
  left: 15px;
  justify-content: center;
  align-items: center;
}

.first {
  position: relative;
}

.second {
  width: 40%;
}

.allmembers {
  height: 100%;

}

.allmembers div {
  width: 70%;
  margin: 2px auto;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 5px 2px 5px;
  border-radius: 7px;
  text-align: center;
  line-height: 30px;
}

.somebut div button, .button-create-new-room {
  display: block;
  width: 98%;
  height: 40px;
  border-radius: 7px;
  margin: 10px 10px 10px 10px;
  overflow-y: auto;
  padding: 2px 5px 2px 5px;
  background-color: snow;
}

.somebut div button:hover, .button-create-new-room:hover {
  box-shadow: 0 0 5px;
}

.button-create-new-room {
  width: 80px;
  height: 40px;
  margin: auto;
}
.third div button{
  margin-left: 10px;
  width: auto;
  height: 30px;
  border-radius: 7px;
  display: block;
  padding: 2px 5px 2px 5px;
  background-color: snow;
  margin-top: 5px;
}
.button-owner-chat {
  border: 2px solid forestgreen;
  background-color: #abdbbe !important;
}

.roomname {
  position: absolute;
  width: 100%;
  top: 25px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 15px grey;
  font-size: 25px;
}
</style>