* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-image: url("/images/fon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.active {
    position: relative;
    left: 25%;
    width: 900px;
    margin: 20px;
}
#img {
    width: 170px;
    position: relative;
    left: 45%;
}
#img-rubbish{
  width: 170px;
  bottom: 50%;
  position:fixed;
  left: 44.5%;
}
h1 {
    color: #000000;
    font-family: 'Gentium Book Basic', serif;
    text-shadow: 5px 5px 5px rgb(41, 41, 41);

}
.main table,
th,
td {
    position: relative;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: #22183385;
    border: 3px ridge #8976aad5;
    border-collapse: collapse;
    width: 500px;
    text-shadow: 7px 7px 5px rgba(17, 17, 17, 0.926);
}
.entities,
.fullname {
    color: #ffffff;
    font-family: 'Gentium Book Basic', serif;
    text-shadow: 5px 5px 5px rgb(41, 41, 41);
    font-weight: bold;
    margin: 20px;
    text-align: center;
    font-size: 40px;
}
.linkss,
.backTo {
    color: #ffffff;
    line-height: 1.2;
    position: relative;
    padding: 0 14px;
    text-transform: uppercase;
}
.backTo2 {
    color: #ffffff;
    line-height: 1.2;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 14px;
    text-transform: uppercase;
}
.linkss:after,
.backTo::after {
    content: "";
    height: 100%;
    min-width: 4px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.backTo2::after {
    content: "";
    height: 100%;
    min-width: 4px;
    background: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.5s;
}
.linkss:hover:after,
.backTo:hover:after,
.backTo2:hover:after {
    min-width: 100%;
    background: #ffffff9a;
    opacity: .35;
}
#text {
    position: relative;
    left: 40%;
    font-size: 65px;
    text-align: center;
    width: 300px;
    background-image: linear-gradient(#500049 50%, #4a545f54 50%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0 5px, 100% 10px;
    transition: 0.5s ease-in-out;
}
#text:hover {
    background-size: 100% 2px, 100% 2px;
    color: #f5f5f5;
}

a {
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gentium Book Basic', serif;
    transition: 0.4s ease-in-out;
}
button,
.deleteInput,
.new,
.inputSubmit {
    margin: 15px;
    border-radius: 10px;
    color: #ffffff;
    background: #001455d0;
    border-bottom: 5px solid #0039d6;
    box-shadow: 5px 5px 5px rgb(118, 121, 197);
}
button:hover,
.deleteInput:hover,
.new:hover,
.inputSubmit:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.761);
}
.new {
    width: 200px;
    font-size: 20px;
    position: relative;
    text-align: center;
    left: 45%;
}
.newone {
    color: white;
}
.all {
    position: relative;
    top: 100px;
}
.search .searchButton {
    position: relative;
    right: 40;
    width: 100px;
    font-size: 22px;
    font-family: 'Gentium Book Basic', serif;
    bottom: 33.2%;
    line-height: 47px;
    text-align: center;
    background-color: #001455d0;
}
.search .text,
.search .numb,
.newStructure input {
    font-size: 22px;
    font-family: 'Gentium Book Basic', serif;
    margin-top: 0.7%;
    margin-left: 0.7%;
}
.newStructure input,
.newStructure p {
    font-size: 19px;
}
.content p,
.aboutInfo,
.bio,
.noSoc {
    position: relative;
    left: 570px;
    width: 650px;
    background-color: #221833d5;
    color: rgb(255, 255, 255);
    border: 5px ridge #8976aad5;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Gentium Book Basic', serif;
}
.newStructure {
    background-color: #221833d5;
    color: rgb(255, 255, 255);
    border: 5px ridge #8976aad5;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Gentium Book Basic', serif;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
}
footer p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.backTo {
    position: fixed;
    top: 0;
}
#ava {
    margin: 10px;
    top: 30px;
    border-radius: 50%;
    width: 300px;
    position: relative;
    left: 42.7%;
}
#ava2 {
    margin: 10px;
    top: 30px;
    width: 200px;
    position: relative;
    left: 45%;
}
.extraInfo {
    color: white;
    background-color: rgba(132, 80, 191, 0.515);
    width: 220px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(4, 4, 4, 0.761);
    font-size: 25px;
    font-family: 'Gentium Book Basic', serif;
    position: relative;
    left: 45%;
}
.search {
    width: 500px;
    position: relative;
    left: 45%;
}
.search input,
.newStructure input {
    border: 2px ridge #2f48aed5;
    width: 230px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.newStructure .inputSubmit {
    font-size: 25px;
    font-family: 'Gentium Book Basic', serif;
    font-weight: bold;
}
.prev,
.next {
    border-radius: 10px;
    font-size: 15px;
    background-color: rgba(132, 80, 191, 0.515);
    text-align: center;
    color: #ffffff;
    background: #001455d0;
    border-bottom: 5px solid #0039d6;
    box-shadow: 5px 5px 5px rgb(118, 121, 197);
}
.search2 .numb,
.search2 .currpage {
    font-family: 'Gentium Book Basic', serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.deleteInput {
    width: 200px;
    margin-top: 7%;
    font-size: 25px;
    padding: 8px 25px;
    margin-left: 46%;
    font-family: 'Gentium Book Basic', serif;
    font-weight: bold;
}
.search2 .numb {
    width: 50px;
    margin: 30px;
}
.search2 {
    width: 1000px;
    margin: 0;
    position: relative;
    left: 39%;
}
#image_uploads {
    border: none;
}
.disabledBut {
    cursor: default;
    pointer-events: none;
} /*/ // /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/:root
{
    --effect: hover 1s linear infinite;
}

/* body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: black;
    align-items: center;
    justify-content: center;
  } */

.loaddiv {
    text-align: center;
}

.loaddiv p {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-family: arial;
    font-weight: 600;
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
}

.letter:nth-child(1) {
    animation: var(--effect);
}

.letter:nth-child(2) {
    animation: var(--effect) 0.125s;
}

.letter:nth-child(3) {
    animation: var(--effect) 0.25s;
}

.letter:nth-child(4) {
    animation: var(--effect) 0.375s;
}

.letter:nth-child(5) {
    animation: var(--effect) 0.5s;
}

.letter:nth-child(6) {
    animation: var(--effect) 0.675s;
}

.letter:nth-child(7) {
    animation: var(--effect) 0.75s;
}

@keyframes hover {
    0% {
        transform: scale(0.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }

    20% {
        transform: scale(1);
        color: pink;
        -webkit-text-stroke: 3px red;
        filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }

    50% {
        transform: scale(0.5);
        color: #121212;
        -webkit-text-stroke: 2px gray;
    }


}

.newSocial {
    width: 55%;
    float: left;
}
#oldsoc {
    width: 45%;
    float: left;
}
#newpage {
    display: flex;
}
.loaddiv {
    left: 40%;
}
.deleteInfo{
  position: fixed;
  top: 55%;
}