* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-image: url("/images/fon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.active
{
    position: relative;
    left: 550px;
    width: 900px;
    margin: 20px;
}
#img
{
    width: 200px;
    position: relative;
    left: 920px;
}

h1{
    color: #000000;
    font-family: 'Gentium Book Basic', serif;
    text-shadow:  5px 5px 5px rgb(41, 41, 41);

}
.main table, th, td
{
    position: relative;
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: #22183385;
    border: 3px ridge #8976aad5;
    border-collapse: collapse;
    width: 500px;
    text-shadow: 7px 7px 5px rgba(17, 17, 17, 0.926);
}
.entities,
.fullname
{
    color: #ffffff;
    font-family: 'Gentium Book Basic', serif;
    text-shadow:  5px 5px 5px rgb(41, 41, 41);
    font-weight: bold;
    margin: 20px;
    text-align: center;
    font-size: 40px;
}
.linkss, 
.backTo {
  color:#ffffff; 
  line-height: 1.2; 
  position: relative; 
  padding: 0 14px; 
  text-transform: uppercase;
}
.linkss:after, 
.backTo::after {
  content: "";
  height: 100%;
  min-width: 4px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .5s;
}
.linkss:hover:after, 
.backTo:hover:after {
  min-width: 100%;
  background: #ffffff9a;
  opacity: .35;
}
#text
{
    position: relative;
    left: 885px;
    font-size: 65px;
    text-align: center;
    width: 300px;
    background-image: linear-gradient(#500049 50%, #4a545f54 50%); 
    background-position: center bottom; 
    background-repeat: no-repeat; 
    background-size: 0 5px, 100% 10px;
    transition: .5s ease-in-out;
}
#text:hover{
    background-size: 100% 2px, 100% 2px;
    color: #f5f5f5;
}

a
{
    padding: 0;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gentium Book Basic', serif;
    transition: 0.4s ease-in-out;
  }

button , .deleteInput, .new, .inputSubmit
{
    margin: 15px;
    border-radius: 10px;
    color: #ffffff;
    background:  #001455d0;
    border-bottom: 5px solid #0039d6;
    box-shadow: 5px 5px 5px rgb(118, 121, 197);
}
button:hover, .deleteInput:hover, .new:hover, .inputSubmit:hover
{
    box-shadow: 0 1px 2px rgba(0,0,0,0.3); 
    text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.761);
}
.new
{
    width: 200px;
    font-size: 20px;
    position: relative;
    text-align: center;
    left: 44%;
}
.newone
{
    color: white;
}

.search .searchButton
{
    position: relative;
    right: 40;
    width: 100px;
    font-size: 22px;
    font-family: 'Gentium Book Basic', serif;
    bottom: 33.2%;
    line-height: 47px;
    text-align: center;
    background-color: #001455d0;
}
.search .text, .search .numb, .newStructure input
{
    font-size: 22px;
    font-family: 'Gentium Book Basic', serif;
    margin-top: 0.7%;
    margin-left: 0.7%;
}
.newStructure input, .newStructure p
{
    font-size: 19px;
}
.content p,
.aboutInfo,
.bio,
.noSoc,
.newStructure{
    position: relative;
    left: 620px;
    width: 700px;
    background-color: #221833d5;
    color: rgb(255, 255, 255);
    border: 5px ridge #8976aad5;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Gentium Book Basic', serif;
}
footer {
    position: fixed;
    bottom: 0;
    right:0px;
    width: 200px;
}
footer p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.backTo
{
    position: fixed;
    top: 0;
}
#ava
{
    margin: 10px;
    top:30px;
    border-radius: 50%;
    width: 300px;
    position: relative;
    left: 42.7%;
}
#ava2
{
    margin: 10px;
    top:30px;
    width: 200px;
    position: relative;
    left: 45%;
}
.extraInfo
{
    color: white;
    background-color: rgba(132, 80, 191, 0.515);
    width:220px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(4, 4, 4, 0.761);
    font-size: 25px;
    font-family: 'Gentium Book Basic', serif;
    position: relative;
    left: 45%;
}
.search
{
    width:500px;
    position: relative;
    left: 45%;
}
.search input, .newStructure input
{
    border: 2px ridge #2f48aed5;
    width: 230px;
    padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.newStructure .inputSubmit
{
    font-size: 25px;
    font-family: 'Gentium Book Basic', serif;
    font-weight: bold;
}
.prev, .next
{
    border-radius: 10px;
    font-size: 15px;
    background-color: rgba(132, 80, 191, 0.515);
    text-align: center;
    color: #ffffff;
    background:  #001455d0;
    border-bottom: 5px solid #0039d6;
    box-shadow: 5px 5px 5px rgb(118, 121, 197);
}
.search2 .numb, .search2 .currpage
{
    font-family: 'Gentium Book Basic', serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
} 
.deleteInput
{
    width: 200px;
    margin-top: 7%;
    font-size: 25px;
    padding: 8px 25px;
    margin-left: 46%;
    font-family: 'Gentium Book Basic', serif;
    font-weight: bold;
}
.search2 .numb
{
    width: 50px;
    margin: 30px;
}
.search2
{
    width: 1000px;
    margin: 0px;
    position: relative;
    left: 39%;
}
 #image_uploads 
{
  border: none;
}