<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', cursive;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
}


input, button {
  outline: none;
  font-family: 'Comfortaa', cursive;
}
</style>
