<template>
  <div class="home">
    <Autofication/>
  </div>
</template>

<script>
// @ is an alias to /src
import Autofication from '@/components/Autofication.vue'

export default {
  name: 'Home',
  components: {
    Autofication
  }
}
</script>

<style>
.home{
  width: 100%;
  height: 100vh;
}
</style>
